// VARIABLES
$font-heading: 'Oswald', sans-serif;
$color-heading: #083451;



body {
	max-width: 1300px;
	font-family: 'Source Sans Pro', sans-serif;

}

p {
	margin: 0px;
	padding: 0px;
}

h1 {
	margin: 0px;
	padding: 0px;	
}

a {
	text-decoration: none;
}


// HEADER

header {
	display: block;
	background-image: url("image_archives/assets/header.jpg");
	height: 523px;
	max-height: 570px;
	padding: 0;
	margin: 0;
	font-family: $font-heading;
	color: $color-heading;

// NAVIGATION LEFT
	.nav-left {
		display: inline-block;
		margin: 9px 0px 0px 12.5%;
		font-size: 18px;
		overflow: auto;
		
		img {
			float: left;
		}

		span {
			float: left;
			margin: 13px 0px 0px 0px;
			padding: 0px 0px 0px 12px;
			font-family: sans-serif;
			font-size: 15px;
		}
	}

// NAVIGATION RIGHT
	.nav-right {
		float: right;	
		margin: 16px 12.5% 0px 0px;

		img {
			padding: 0px 5px 0px 0px;
		}

		span {
			font-size: 18px;
			padding: 0px 3px 0px 8px;
		}
	}

// HEADER TITLE
	.header-title {
		width: 100%;
		display: inline-block;
		margin-top: 10%;
		text-align: center;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 55px;
		color: #FFFFFF;
		padding: 0px;
		/*border: 1px solid black;*/

		h1 {
		text-shadow: 3px 3px #21679A;
		font-weight: normal; 
		}

		p {
		margin: -17px 6px 0px 0px;
		font-size: 17px;
		color: #083451;
		}
	}

}



/*MAIN BLOG SECTION*/

.blog-body {
	width: 100%;
	background-color: white;
	margin: 0;
	padding: 0px 0px 50px 0px;
	border-bottom: 1px solid #E1E7EA;

	/*COLUMN LEFT*/
	.column-left {
		width: 625px;
		margin-top: 62px;
		margin-left: 166px;
		display: inline-block;
		font-family: 'Source Sans Pro', sans-serif;

		h2 {
			font-family: 'Oswald', sans-serif;
			font-size: 62px;
			font-weight: normal;
			color: #083452;
			line-height: 70px;
			padding: 0;
			margin: 0;
		}
		
		.post-info {
			width: 100%;
			margin-top: 7px;
			padding-left: 2px;
			color: #BAC6CF;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 14px;

			img {
				float: left;
				height: 22px;
			}

			.author-name {
				display: inline-block;
				color: #106DB3;
				margin-top: 5px;
				margin-left: 7px;
				}

			.post-date {
				margin-left: 15px;

				> span {
					text-decoration: underline;
				}
		}
	}

		.author-name{
			display: inline-block;
			color: #106DB3;
			margin-top: 5px;
			margin-left: 7px;
		}

		.post-date {
			margin-left: 15px;

			> span {
			text-decoration: underline;
			}
		}
	}

	.blog-text {
		margin-top: 33px;
		margin-right: 5px;

		p {
			font-size: 18px;
			color: #5E686F;
			font-family: 'Source Sans Pro', sans-serif;
		}

		a {
			color: #A3B3BF;
		}

		.radical {
			display: inline-block;
			height: 35px;
			margin: 10px 10px 20px 10px; 
			padding: 10px 0px 0px 15px;
			border-left: 2px solid #D3D3D3;
			color: #106DB3;
			font-size: 28px;
		}
	}
}

.icon {
	display: inline-block;
	background-color: #A3B3BF;
	height: 28px;
	overflow: auto;
	font-size: 14px;
	margin: 4px;

	img {
		float: left;
		height: 12px;
		padding: 8px;
		background-color: #5E686F;
	}

	span {
		float: right;
		color: white;
		padding: 5px 15px 5px 10px;
		height: 100%;
	}

	&:hover span {
		background-color: #106DB3;
	}

	&:hover img {
	background-color: #083452;
	}
}


/*COLUMN RIGHT*/
.column-right {
	display: inline-block;
	width: 325px;
	float: right;
	margin-right: 135px;
}

.social-icon {
	display: block;
	text-align: center;
	width: 100%;
	margin: 80px 25px 45px 0px;
}

.social-icon > span {
	color: #A3B3BF;
	font-size: 14px;
	margin: 0px 3px 0px 3px;
}

.social-icon span:nth-child(4) {
		border-left: 1px solid #FAFAFA;
		border-right: 1px solid #FAFAFA;
	 	padding: 0px 7px 0px 7px;

	}

#name {
	display: block;
	color: #106DB3;
	font-size: 18px;
	padding: 6px;
}

.advertisement {
	display: block;
	/*margin-top: 5px;*/
}

.advertisement img {
	display: block;
	float: right;
	width: 280px;
	margin-top: 3px;
	margin-right: 27px;
}

.advertisement span {
	float: right;
	color: #A3B3BF;
	text-decoration: underline;
	font-size: 14px;
	margin-top: 5px;
	margin-right: 22px;
}

.sidebar-section {
	display: block;
	float: left;
	width: 250px;
	margin: 45px 25px 0px 25px;
	padding: 0;
}

.sidebar-section span {
	color: #106DB3;
	font-size: 18px; 
	letter-spacing: -1px;
}

.sidebar-section p {
	color: #A3B3BF;
	font-size: 14px;
	line-height: 24px;
}

/*FOOTER*/
footer {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

footer > h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 62px;
	font-weight: normal;
	color: #083452;
	line-height: 109px;
	text-align: center;
	padding: 25px 0px 11px 0px;
	margin: 5px;
	}

.bottom-blog-bar {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 0px;
	background-color: #3399FF;
}

.blog-icon {
	position: relative;
	height: auto;
	width: 25%;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.blog-icon img {
	z-index: 1;
	position: relative;
	width: 325px;
	opacity: .3;
}

.blog-icon span {
	position: absolute;
	bottom: 30px;
	left: 20px;
	z-index: 2;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: normal;
	color: #134A78;
	text-align: left;
}

.blog-icon:hover img {
	opacity: .7;
}

.blog-icon:hover span {
	color: white;
}

.very-bottom-bar {
	position: relative;
	padding: 0;
	margin: 0;
	height: 100px;
	width: 100%;
	background-color: #083452;
	color: #A3B3BF;
	font-style: sans-serif;
	font-size: 13px;
}

.ironyard-tag {
	display: inline-block;
	float: left;
	position: absolute;
	top: 31px;
	left: 12.5%;
}

.ironyard-tag span {
	vertical-align: 8px;
	padding-left: 10px;
	}

.very-bottom-bar nav {
	float: right;
	display: inline-block;
	position: absolute;
	top: 45px;
	right: 14%;
}

.very-bottom-bar nav a {
	padding: 0px 7px 0px 7px;
	border-right: 1px solid #5E686F;
}

.very-bottom-bar nav span:last-child {
	border-style: none;
}

nav a {
	color: #A3B3BF; 
}

nav a:hover {
	color: yellow; 
}












