// VARIABLES
//===========================================
$font-heading-main: 'Oswald', sans-serif;
$darker-blue: #083451;
$lighter-blue: #106DB3;
$lighter-gray: #A3B3BF;
$font-title-main: 'Source Sans Pro', sans-serif;

// MIXINS
//===========================================
@mixin font-body-p() {
	color: #5E686F;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
}

@mixin title-text() {
	color: $darker-blue;
	font-family: 'Oswald', sans-serif;
	font-size: 62px;
	font-weight: normal;	
}


// GENERAL
//===========================================
body {
	max-width: 1300px;
	font-family: $font-title-main;

}

p {
	margin: 0px;
	padding: 0px;
}

h1 {
	margin: 0px;
	padding: 0px;	
}

a {
	text-decoration: none;
}

//============================================
// HEADER
//============================================

header {
	display: block;
	background-image: url("image_archives/assets/header.jpg");
	color: $darker-blue;
	font-family: $font-heading-main;
	height: 523px;
	max-height: 570px;
	padding: 0;
	margin: 0;
	

// NAVIGATION LEFT
//===========================================
	.nav-left {
		display: inline-block;
		overflow: auto;
		font-size: 18px;
		margin: 9px 0px 0px 11%;
						
		img {
			float: left;
		}

		span {
			float: left;
			font-family: sans-serif;			
			font-size: 15px;
			margin: 13px 0px 0px 0px;
			padding: 0px 0px 0px 12px;
		}
	}

// NAVIGATION RIGHT
//===========================================
	.nav-right {
		float: right;	
		margin: 16px 12.5% 0px 0px;

		img {
			padding: 0px 5px 0px 0px;
		}

		span {
			font-size: 18px;
			padding: 0px 3px 0px 8px;
		}
	}

// HEADER TITLE
//===========================================
	.header-title {
		display: inline-block;
		width: 100%;
		color: #FFFFFF;
		font-family: $font-title-main;
		font-size: 55px;
		margin-top: 10%;
		text-align: center;		
		padding: 0px;

		h1 {
		text-shadow: 3px 3px #21679A;
		font-weight: normal; 
		}

		p {
		margin: -17px 6px 0px 0px;
		font-size: 17px;
		color: $darker-blue;
		}
	}
}

//============================================
// MAIN BLOG BODY
//============================================
.blog-body {
	background-color: white;
	overflow: auto;
	width: 100%;
	margin: 0;
	padding: 0px 0px 50px 0px;
	border-bottom: 1px solid #E1E7EA;
	

// COLUMN LEFT
//===========================================
	.column-left {
		display: inline-block;
		float: left;
		font-family: $font-title-main;
		width: 625px;
		margin-top: 62px;
		margin-left: 163px;
		

		h2 {
			@include title-text;
			line-height: 70px;
			padding: 0;
			margin: 0;
		}
		
		.post-info {
			width: 100%;
			color: #BAC6CF;
			font-family: $font-title-main;
			font-size: 14px;
			margin-top: 7px;
			padding-left: 2px;
			

			img {
				float: left;
				height: 22px;
			}

			.post-date {
				margin-left: 15px;

				> span {
					text-decoration: underline;
				}
			}
		}
	

		.author-name{
			display: inline-block;
			color: $lighter-blue;
			margin-top: 5px;
			margin-left: 7px;
		}

		.post-date {
			margin-left: 15px;

			> span {
			text-decoration: underline;
			}
		}

		.blog-text {
			margin-top: 33px;
			margin-right: 5px;

			p {
				@include font-body-p();
			}

			a {
				color: $lighter-gray;
			}

			.radical {
				display: inline-block;
				height: 35px;
				margin: 10px 10px 20px 10px; 
				padding: 10px 0px 0px 15px;
				border-left: 2px solid #D3D3D3;
				color: $lighter-blue;
				font-size: 28px;
			}
		}
	
		.icon {
			display: inline-block;			
			overflow: auto;
			background-color: #A3B3BF;
			height: 28px;
			font-size: 14px;
			margin: 4px;

			img {
				float: left;
				height: 12px;
				padding: 8px;
				background-color: #5E686F;
			}

			span {
				float: right;
				color: white;
				padding: 5px 15px 5px 10px;
				height: 100%;
			}

			&:hover span {
				background-color: #106DB3;
			}

			&:hover img {
			background-color: #083452;
			}
		}
	}

// COLUMN RIGHT
//===========================================
	.column-right {
		display: inline-block;
		width: 325px;
		float: left;
		margin: 33px 0px 0px 53px;

		.social-icon {
			display: block;
			text-align: center;
			width: 100%;
			margin: 80px 25px 45px 0px;
		
			> img {
				display: block;
				margin: -31px 0px 0px 118px;
			}


			.social-links {
				color: $lighter-gray;
				font-size: 14px;
				margin: -6px -1px 0px 0px;
			

				> span {
					padding: 0px 3px 0px 3px;
				}

			}

			.social-name {
						display: block;
						color: $lighter-blue;
						font-size: 18px;
						padding: 6px;
						margin: 4px 6px 0px 0px;
			}

			&:nth-child(4) {
					border-left: 1px solid #FAFAFA;
					border-right: 1px solid #FAFAFA;
				 	padding: 0px 7px 0px 7px;
			}

		}

		.advertisement {
			display: block;

			img {
				display: block;
				float: right;
				width: 280px;
				margin-top: 7px;
				margin-right: 27px;
			}

			span {
				float: right;
				color: $lighter-gray;
				text-decoration: underline;
				font-size: 14px;
				margin-top: 5px;
				margin-right: 22px;
			}
		}

		.sidebar-section {
			display: block;
			float: left;
			width: 250px;
			margin: 45px 25px 0px 25px;
			padding: 0;

			span {
				color: $lighter-blue;
				font-size: 18px; 
				letter-spacing: -1px;
			}

			p {
				color: $lighter-gray;
				font-size: 14px;
				line-height: 24px;
			}	
		}
	}
}

//============================================
// FOOTER
//============================================
footer {
	margin: 0;
	padding: 0;
	font-family: $font-title-main, sans-serif;

	> h2 {
		@include title-text;
		line-height: 109px;
		text-align: center;
		padding: 25px 0px 11px 0px;
		margin: 5px;
	}

	.bottom-blog-bar {
		width: 100%;
		text-align: center;
		padding: 0;
		margin: 9px 0px 0px 0px;
		font-size: 0px;
		background-color: #3399FF;

		.blog-icon {
			position: relative;
			height: auto;
			width: 25%;
			display: inline-block;
			padding: 0px;
			margin: 0px;
			
			img {
				z-index: 1;
				position: relative;
				width: 325px;
				opacity: .3;
			}

			span {
				position: absolute;
				bottom: 2%;
				left: 20px;
				z-index: 2;
				font-family: $font-heading-main;
				font-size: 30px;
				font-weight: normal;
				color: #134A78;
				text-align: left;
			}

			&:hover img {
				opacity: .7;
			}

			&:hover span {
				color: white;
			}
		}
	}

	.very-bottom-bar {
		overflow: auto;
		position: relative;
		display: block;
		padding: 0;
		margin: 0;
		height: 100px;
		width: 100%;
		background-color: #083452;
		color: $lighter-gray;
		font-style: sans-serif;
		font-size: 14px;

		.ironyard-tag {
			display: inline-block;
			float: left;
			margin: 2% 0px 0px 12.5%;
		
			span {
				vertical-align: 8px;
				padding-left: 10px;
			}
		}
			
		nav {
				float: left;
				display: inline-block;
				margin: 39px 0px 0px 22%;
		
			a {
					padding: 0px 7px 0px 7px;
					border-right: 1px solid #5E686F;
					color: $lighter-gray; 
					
					&:hover {
						color: yellow; 
					}
			}

			span:last-child {
				border-style: none;
			}
		}	
	}
}

	



