body {
  max-width: 1300px;
  font-family: "Source Sans Pro", sans-serif; }

p {
  margin: 0px;
  padding: 0px; }

h1 {
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none; }

header {
  display: block;
  background-image: url("image_archives/assets/header.jpg");
  color: #083451;
  font-family: "Oswald", sans-serif;
  height: 523px;
  max-height: 570px;
  padding: 0;
  margin: 0; }
  header .nav-left {
    display: inline-block;
    overflow: auto;
    font-size: 18px;
    margin: 9px 0px 0px 11%; }
    header .nav-left img {
      float: left; }
    header .nav-left span {
      float: left;
      font-family: sans-serif;
      font-size: 15px;
      margin: 13px 0px 0px 0px;
      padding: 0px 0px 0px 12px; }
  header .nav-right {
    float: right;
    margin: 16px 12.5% 0px 0px; }
    header .nav-right img {
      padding: 0px 5px 0px 0px; }
    header .nav-right span {
      font-size: 18px;
      padding: 0px 3px 0px 8px; }
  header .header-title {
    display: inline-block;
    width: 100%;
    color: #FFFFFF;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 55px;
    margin-top: 10%;
    text-align: center;
    padding: 0px; }
    header .header-title h1 {
      text-shadow: 3px 3px #21679A;
      font-weight: normal; }
    header .header-title p {
      margin: -17px 6px 0px 0px;
      font-size: 17px;
      color: #083451; }

.blog-body {
  background-color: white;
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 0px 0px 50px 0px;
  border-bottom: 1px solid #E1E7EA; }
  .blog-body .column-left {
    display: inline-block;
    float: left;
    font-family: "Source Sans Pro", sans-serif;
    width: 625px;
    margin-top: 62px;
    margin-left: 163px; }
    .blog-body .column-left h2 {
      color: #083451;
      font-family: 'Oswald', sans-serif;
      font-size: 62px;
      font-weight: normal;
      line-height: 70px;
      padding: 0;
      margin: 0; }
    .blog-body .column-left .post-info {
      width: 100%;
      color: #BAC6CF;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      margin-top: 7px;
      padding-left: 2px; }
      .blog-body .column-left .post-info img {
        float: left;
        height: 22px; }
      .blog-body .column-left .post-info .post-date {
        margin-left: 15px; }
        .blog-body .column-left .post-info .post-date > span {
          text-decoration: underline; }
    .blog-body .column-left .author-name {
      display: inline-block;
      color: #106DB3;
      margin-top: 5px;
      margin-left: 7px; }
    .blog-body .column-left .post-date {
      margin-left: 15px; }
      .blog-body .column-left .post-date > span {
        text-decoration: underline; }
    .blog-body .column-left .blog-text {
      margin-top: 33px;
      margin-right: 5px; }
      .blog-body .column-left .blog-text p {
        color: #5E686F;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif; }
      .blog-body .column-left .blog-text a {
        color: #A3B3BF; }
      .blog-body .column-left .blog-text .radical {
        display: inline-block;
        height: 35px;
        margin: 10px 10px 20px 10px;
        padding: 10px 0px 0px 15px;
        border-left: 2px solid #D3D3D3;
        color: #106DB3;
        font-size: 28px; }
    .blog-body .column-left .icon {
      display: inline-block;
      overflow: auto;
      background-color: #A3B3BF;
      height: 28px;
      font-size: 14px;
      margin: 4px; }
      .blog-body .column-left .icon img {
        float: left;
        height: 12px;
        padding: 8px;
        background-color: #5E686F; }
      .blog-body .column-left .icon span {
        float: right;
        color: white;
        padding: 5px 15px 5px 10px;
        height: 100%; }
      .blog-body .column-left .icon:hover span {
        background-color: #106DB3; }
      .blog-body .column-left .icon:hover img {
        background-color: #083452; }
  .blog-body .column-right {
    display: inline-block;
    width: 325px;
    float: left;
    margin: 33px 0px 0px 53px; }
    .blog-body .column-right .social-icon {
      display: block;
      text-align: center;
      width: 100%;
      margin: 80px 25px 45px 0px; }
      .blog-body .column-right .social-icon > img {
        display: block;
        margin: -31px 0px 0px 118px; }
      .blog-body .column-right .social-icon .social-links {
        color: #A3B3BF;
        font-size: 14px;
        margin: -6px -1px 0px 0px; }
        .blog-body .column-right .social-icon .social-links > span {
          padding: 0px 3px 0px 3px; }
      .blog-body .column-right .social-icon .social-name {
        display: block;
        color: #106DB3;
        font-size: 18px;
        padding: 6px;
        margin: 4px 6px 0px 0px; }
      .blog-body .column-right .social-icon:nth-child(4) {
        border-left: 1px solid #FAFAFA;
        border-right: 1px solid #FAFAFA;
        padding: 0px 7px 0px 7px; }
    .blog-body .column-right .advertisement {
      display: block; }
      .blog-body .column-right .advertisement img {
        display: block;
        float: right;
        width: 280px;
        margin-top: 7px;
        margin-right: 27px; }
      .blog-body .column-right .advertisement span {
        float: right;
        color: #A3B3BF;
        text-decoration: underline;
        font-size: 14px;
        margin-top: 5px;
        margin-right: 22px; }
    .blog-body .column-right .sidebar-section {
      display: block;
      float: left;
      width: 250px;
      margin: 45px 25px 0px 25px;
      padding: 0; }
      .blog-body .column-right .sidebar-section span {
        color: #106DB3;
        font-size: 18px;
        letter-spacing: -1px; }
      .blog-body .column-right .sidebar-section p {
        color: #A3B3BF;
        font-size: 14px;
        line-height: 24px; }

footer {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif, sans-serif; }
  footer > h2 {
    color: #083451;
    font-family: 'Oswald', sans-serif;
    font-size: 62px;
    font-weight: normal;
    line-height: 109px;
    text-align: center;
    padding: 25px 0px 11px 0px;
    margin: 5px; }
  footer .bottom-blog-bar {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 9px 0px 0px 0px;
    font-size: 0px;
    background-color: #3399FF; }
    footer .bottom-blog-bar .blog-icon {
      position: relative;
      height: auto;
      width: 25%;
      display: inline-block;
      padding: 0px;
      margin: 0px; }
      footer .bottom-blog-bar .blog-icon img {
        z-index: 1;
        position: relative;
        width: 325px;
        opacity: .3; }
      footer .bottom-blog-bar .blog-icon span {
        position: absolute;
        bottom: 2%;
        left: 20px;
        z-index: 2;
        font-family: "Oswald", sans-serif;
        font-size: 30px;
        font-weight: normal;
        color: #134A78;
        text-align: left; }
      footer .bottom-blog-bar .blog-icon:hover img {
        opacity: .7; }
      footer .bottom-blog-bar .blog-icon:hover span {
        color: white; }
  footer .very-bottom-bar {
    overflow: auto;
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100%;
    background-color: #083452;
    color: #A3B3BF;
    font-style: sans-serif;
    font-size: 14px; }
    footer .very-bottom-bar .ironyard-tag {
      display: inline-block;
      float: left;
      margin: 2% 0px 0px 12.5%; }
      footer .very-bottom-bar .ironyard-tag span {
        vertical-align: 8px;
        padding-left: 10px; }
    footer .very-bottom-bar nav {
      float: left;
      display: inline-block;
      margin: 39px 0px 0px 22%; }
      footer .very-bottom-bar nav a {
        padding: 0px 7px 0px 7px;
        border-right: 1px solid #5E686F;
        color: #A3B3BF; }
        footer .very-bottom-bar nav a:hover {
          color: yellow; }
      footer .very-bottom-bar nav span:last-child {
        border-style: none; }

/*# sourceMappingURL=main.css.map */
